.centrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    font-size: 24px;
    padding: 2px;
    margin-left: 700px;
    margin-right: 700px;
}
.btn{
    display: flex;
    justify-content: center;
    
}
.span-counter {
    color: black;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
  }