.ItemListContainer {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: grey thin solid;
    background: orange;
    box-shadow:  20px 20px 60px #0b350e,
                -20px -20px 60px #0f4712;
}
