.Navigation {
	display: flex;
	background: #000;
}

ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.logo{
    width: 100px;
}
.Link
{    color: ivory;
	list-style-type: none;
	font-size: 20px;
}
.Link:hover {
    color: white; font-size: 15px; font-family: arial; text-decoration: none
}

